.note__wrapper {
    width: 20%;
    height: 400px;
    padding: 15px;
}
.note {
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;
    background: #2b2f3b;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.note:hover {
    opacity: .8;
    cursor: pointer;
}

.note__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.note__title h2 {
    max-height: 30px;
    overflow-y: hidden;
    font-size: 20px;
    font-weight: 700;
}

.note__title p {
    color: #959595;
    font-size: 30px;
    cursor: pointer;
}

.note__title p:hover {
    color: #FFFFFF;
}