.navbar {
    width: 100%;
}

.navbar__item {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}

.navbar__item:hover,
.navbar__item.active {
    background: #2b2f3b;
}

.navbar__item a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}